* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(190, 200, 190), rgb(210, 240, 210));
}

input[type="url"] {
  text-transform: lowercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-weight: bold;
  border-bottom: 1px solid gray;
  background-color: white;
}

nav .nav-title h2 {
  text-align: start;
  font-size: 1.5rem;
  text-shadow: 1px 1px blueviolet;
}

nav .search a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  border: 1px solid gray;
  padding: 0.6rem 1rem;
  box-shadow: 0 0 10px black;
  border-radius: 30px;
  opacity: 70%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  gap: 1.5rem;
  margin: 3rem 1rem;
  padding: 3rem 0;
}

.title,
.description,
.link {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 50px;
  width: 80%;
  font-size: 1rem;
}

input:hover {
  border: 1px solid black;
}

button {
  margin: 1rem 0;
  padding: 0.7rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  box-shadow: 2px 2px 10px grey;
}

button:hover {
  box-shadow: 2px 2px 10px black;
}

.footer-content {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid gray;
  padding: 1rem;
}
